.idea
.DS_Store
/node_modules
.idea
*.env
key*
/docs
npm-debug.log
yarn.lock
package-lock.json
yarn-error.log
localurl.crt
localurl.key
proxy.js
config/live.env
config/dev.env
private.key
public.key
dist
node_modules

*.key
.vscode/launch.json